body {
  min-height: 2520px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: #f1f3ff;
}
.navbar .navbar-brand {
  font-size: 26px;
  font-weight: 660;
}
.navbar-nav {
  font-size: 18px;
  margin-right: 160px;
}

.hero {
  padding: 2rem 1rem;
  padding-bottom: 0px;
  background-color: #f1f3ff;
}
.hero .display-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
}
.hero .desc {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.our-services .container {
  margin-top: 100px;
}
.our-services .display-6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
}
.our-services .desc {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.our-services .list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#why-us .card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#why-us .icon {
  margin-bottom: 20px;
}

.sewa .card {
  margin-top: 30px;
  min-width: 80%;
  min-height: 326px;
}
.sewa .card .card-body {
  background-color: #0d28a6;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.sewa .card .card-body .card-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 640;
}
.accordion-header {
  border: 2px;
  border-color: black;
  border-radius: 5px;
}
.accordion-item {
  margin-bottom: 15px;
}
.accordion .accordion-item .accordion-header .accordion-button {
  background-color: #fff0;
}
